$color: #ffffff;

.container {
  background-color: rgba(235, 239, 242, 0.6);

  @media (max-width: 374px) {
    padding: 80px 0;
    background-image: linear-gradient($color 0.301406px, transparent 0),
      linear-gradient(90deg, $color 0.301406px, transparent 0),
      linear-gradient($color 0.602812px, transparent 0),
      linear-gradient(90deg, $color 0.602812px, transparent 0);
    background-size: 18.07px 18.07px, 15.45px 15.45px, 144.59px 144.59px,
      123.56px 123.56px;
    background-position: -33.45px 34.81px;
  }

  @media (min-width: 375px) and (max-width: 413px) {
    padding: 60px 0 80px 0;
    background-image: linear-gradient($color 0.301406px, transparent 0),
      linear-gradient(90deg, $color 0.301406px, transparent 0),
      linear-gradient($color 0.602812px, transparent 0),
      linear-gradient(90deg, $color 0.602812px, transparent 0);
    background-size: 18.07px 18.07px, 18.1px 18.1px, 144.59px 144.59px,
      144.8px 144.8px;
    background-position: -39.2px 34.81px;
  }

  @media (min-width: 414px) and (max-width: 767px) {
    padding: 60px 0 72px 0;
    background-image: linear-gradient($color 0.301406px, transparent 0),
      linear-gradient(90deg, $color 0.301406px, transparent 0),
      linear-gradient($color 0.602812px, transparent 0),
      linear-gradient(90deg, $color 0.602812px, transparent 0);
    background-size: 18.07px 18.07px, 22.06px 22.06px, 144.59px 144.59px,
      176.48px 176.48px;
    background-position: -47.77px 34.81px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 86px 0;
    background-image: linear-gradient($color 0.301406px, transparent 0),
      linear-gradient(90deg, $color 0.301406px, transparent 0),
      linear-gradient($color 0.602812px, transparent 0),
      linear-gradient(90deg, $color 0.602812px, transparent 0);
    background-size: 22.06px 22.06px, 18.07px 18.07px, 176.48px 176.48px,
      144.92px 144.92px;
    background-position: 12.14px 163.45px;
  }

  @media (min-width: 1200px) {
    padding: 100px 0;
    background-image: linear-gradient($color 0.29632px, transparent 0),
      linear-gradient(90deg, $color 0.29632px, transparent 0),
      linear-gradient($color 0.592639px, transparent 0),
      linear-gradient(90deg, $color 0.592639px, transparent 0);
    background-size: 20.95px 20.95px, 20.95px 20.95px, 167.6px 167.6px,
      167.6px 167.6px;
    background-position: -35.11px 45.1px;
  }
}

.grid {
  composes: grid from "./layout.module.scss";

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 690px;
  }
}

.apple {
  filter: invert(1);

  @media screen and (max-width: 1199px) {
    width: 151px;
    height: 20px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    width: 174px;
    height: 24px;
    margin-top: 60px;
  }
}

.hahow {
  @media screen and (max-width: 374px) {
    margin-top: 35.84px;
  }

  @media screen and (min-width: 375px) and (max-width: 767px) {
    margin-top: 28.84px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 1199px) {
    width: 111.14px;
    height: 27.77px;
  }

  @media screen and (min-width: 1200px) {
    width: 146.23px;
    height: 36.52px;
    margin-top: 46px;
  }
}
