$color: #e2e2e299;

.container {
  background-color: rgba(235, 239, 242, 0.6);

  @media (max-width: 374px) {
    padding: 38.77px 0 60px 0;
    background-image: linear-gradient($color 0.29632px, transparent 0),
      linear-gradient(90deg, $color 0.29632px, transparent 0),
      linear-gradient($color 0.592639px, transparent 0),
      linear-gradient(90deg, $color 0.592639px, transparent 0);
    background-size: 17.64px 17.64px, 17.61px 17.61px, 141.08px 141.08px,
      140.89px 140.89px;
    background-position: -31.52px 25.02px;
  }

  @media (min-width: 375px) and (max-width: 413px) {
    padding: 30px 0 50.64px 0;
    background-image: linear-gradient($color 0.29632px, transparent 0),
      linear-gradient(90deg, $color 0.29632px, transparent 0),
      linear-gradient($color 0.592639px, transparent 0),
      linear-gradient(90deg, $color 0.592639px, transparent 0);
    background-size: 17.64px 17.64px, 17.61px 17.61px, 141.08px 141.08px,
      140.89px 140.89px;
    background-position: -31.52px 25.02px;
  }

  @media (min-width: 414px) and (max-width: 767px) {
    padding: 24.73px 0 40px 0;
    background-image: linear-gradient($color 0.29632px, transparent 0),
      linear-gradient(90deg, $color 0.29632px, transparent 0),
      linear-gradient($color 0.592639px, transparent 0),
      linear-gradient(90deg, $color 0.592639px, transparent 0);
    background-size: 17.64px 17.64px, 21.47px 21.47px, 141.08px 141.08px,
      171.71px 171.71px;
    background-position: -38.41px 27.38px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 64px 0 90px 0;
    background-image: linear-gradient($color 0.29632px, transparent 0),
      linear-gradient(90deg, $color 0.29632px, transparent 0),
      linear-gradient($color 0.592639px, transparent 0),
      linear-gradient(90deg, $color 0.592639px, transparent 0);
    background-size: 17.64px 17.64px, 21.46px 21.46px, 141.08px 141.08px,
      171.7px 171.7px;
    background-position: -52.12px 27.02px;
  }

  @media (min-width: 1200px) {
    padding: 100px 0;
    background-image: linear-gradient($color 0.5px, transparent 0),
      linear-gradient(90deg, $color 0.5px, transparent 0),
      linear-gradient($color 1px, transparent 0),
      linear-gradient(90deg, $color 1px, transparent 0);
    background-size: 20.95px 20.95px, 20.95px 20.95px, 167.6px 167.6px,
      167.6px 167.6px;
    background-position: -35.51px 62.7px;
  }

  h1 img {
    @media (max-width: 413px) {
      width: 100%;
    }

    @media screen and (min-width: 414px) and (max-width: 767px) {
      display: block;
      width: 373px;
      margin: 0 calc((100% - 373px) / 2);
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      display: block;
      margin: 0 auto;
      width: 636px;
    }

    @media (min-width: 1200px) {
      display: block;
      margin: 0 auto;
      width: 805px;
    }
  }

  h2,
  h3 {
    margin: 0 auto;
  }

  h2 {
    font-weight: 600;
    font-size: 1.125rem;
    color: rgba(27, 27, 25, 0.8);

    @media (max-width: 374px) {
      margin-top: 18.77px;
    }

    @media (min-width: 375px) and (max-width: 413px) {
      margin-top: 20px;
    }

    @media (min-width: 414px) and (max-width: 767px) {
      margin-top: 14.73px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      margin-top: 24px;
      width: 562px;
    }

    @media (max-width: 1199px) {
      line-height: 27px;
    }

    @media (min-width: 1200px) {
      line-height: 24.52px;
      margin-top: 16px;
      width: 722px;
    }
  }

  h3 {
    color: rgba(27, 27, 25, 0.8);
    font-weight: normal;
    font-family: "Noto Sans";

    @media (max-width: 767px) {
      margin-top: 16px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      margin-top: 20px;
      width: 568px;
    }

    @media (max-width: 1199px) {
      font-size: 0.875rem;
      line-height: 21px;
    }

    @media (min-width: 1200px) {
      margin-top: 16px;
      font-size: 1rem;
      line-height: 24px;
      width: 722px;
    }
  }
}

.grid {
  composes: grid from "./layout.module.scss";
}
