@font-face {
  font-family: Noto Sans;
  src: url("./font/NotoSans-Regular.ttf");
}

@font-face {
  font-family: Noto Sans TC;
  src: url("./font/NotoSansTC-Medium.otf");
}

@font-face {
  font-family: PingFang TC;
  src: url('./font/PingFangTC-Medium.ttf');
}

body {
  font-family: "Noto Sans", "Noto Sans TC", "PingFang TC";
}

#root {
  display: flex;
  flex-direction: column;
}